@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
/* import the fonts from website at top to apply to all the pages. */
/*
font-family: 'Clicker Script', cursive;
font-family: 'Elsie Swash Caps', cursive;
*/

/* This is a comment. single line or multyline*/
/* CSS Syntax:

selector { 
    property: value;
    property: value;
}

*/

/* Type selector*/

p { /* select all <p> elements (nothing in front = element) */
    font-size: 1em; /* 16px, ?pt, 100%, 1em */
    line-height: 1.5em;
}
figcaption {
    /* font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: Georgia, "New Times Roman", serif; */
    font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive; /* watch commas */
    color: #777;
    text-align: right;
}

/* Class Selctor: (applie to as many elements as you like and can be different elements - ie: ) in html class="selector1 another another-one") starts with '.' */

.milk-text { /* select elements with class="milk-text" */
    font: bold 2.6em 'Elsie Swash Caps', cursive;
    color: white;
    text-shadow: 0 2px 3px #000;
}
/* ID selector (apply to one UNIQUE element per page) starts with '#' */

#logo { /* select elements with id="logo" */
   background-color: aqua; 
}

/* Descendent Selector: selects descendents under a parent. Start with parent, then the descendent specific.  */

#logo h1 { /* selects all <h1> if inside the id="logo" */
    font-family: 'Clicker Script', cursive;
}
#logo h2 {
    font-family: 'Elsie Swash Caps', cursive;
}

/* Psuedo Class Selector: select an element in relationship to other elements or an event state. (In the following example - combining Psuedo Selector and Descendent Selector: descendent = #details a:link ; Psuedo = a:link) */

#details a:link, #details a:visited { /* descendent = #details a:link ; Psuedo = a:link */
    color: black;
    text-decoration: none;
}
#details a:hover {
    color: black;
    text-decoration: underline;
}
#details a:active {
    color: red;
}